
<!DOCTYPE html>
<html>
  <head>

    <meta charset = "utf-8">
    <title> Introduction of Captain America </title>
    <!--This link is used for the words' fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "../webpage.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="icon" href="../img/Avenger_2.jpg" sizes="50x50">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
    <script src="client.js" charset="utf-8" defer></script>
  </head>


  <body>
    <header>
      <div class = "top">
        <h1 class = "subtitle"><img class="avengers-logo" src="../img/Avenger_1.jpg" alt = "avenger-logo" style="float:left;width:138px;height:90px;"> Intro  to  Captain  America</h1>

    </header>


<main class="captain_america_container"id="avengers_container">
  <div class= "captain-america-text" id="info">
    <img class="captain_america" id="img-margin" src="../img/captain_america.jpg" alt = "captain_america_img" style="float:left;width:270px;height:350px;">
    
</div>
<div id="intro-text"  style="font-size:21px">
      <p>Name: Steve Rogers<br>Nationality: The United States of America<br>Height: 188cm
        <br>Birthplace: Brooklyn, New York, USA<br>Girlfriend: Peggy Carter<br>Career: United States army captain, Super Hero
        <br>Team: Avenger Alliance, S.H.I.E.L.D, Howling Commandos<br>Major Capabilities: Far beyond the limits of physical ability.
        <br>Weaponry: A shield made of vibration gold.
      </p>
  </div>
</main>

<button type="button" id="fans-of-the-message">
  <i class="fal fa-comment-alt-dots"> chips talk</i>
</button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-twit-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Chip talk</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="twit-input-element">
        <label for="twit-text-input">Chip text</label>
        <textarea id="twit-text-input"></textarea>
      </div>
      <div class="twit-input-element">
        <label for="twit-attribution-input">Author</label>
        <input type="text" id="twit-attribution-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Chip talk</button>
    </div>

  </div>
</div>

<main class="twit-container">

</main>