

<main class="captain_america_container"id="avengers_container">
  <div = captain-america-text>
    <img class="captain_america" src="/img/captain_america.jpg" alt = "captain_america_img" style="width:270px;height:350px;">
  </div>

</main>
