<main class="Dr_strange_container"id="avengers_container">
  <div = Dr_strange-text>
    <img class="Dr_strange" src="/img/Dr_Strange.jpg" alt = "Dr_Strange_img" style="width:270px;height:350px;">
  </div>
