<main class="hawkeye_container" id="avengers_container">
  <div = hawkeye-text>
    <img class="hawkeye" src="/img/hawkeye.jpg" alt = "hawkeye_img" style="width:270px;height:350px;">
  </div>

</main>
