<!--Final project html file (group 24) -->

<!DOCTYPE html>
<html>
  <head>

    <meta charset = "utf-8">
    <title> Introduction of Avengers </title>
    <!--This link is used for the words' fonts-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/webpage.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="icon" href="/img/Avenger_2.jpg" sizes="80x80">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>
    <script src="/webpage.js" charset="utf-8" defer></script>
  </head>

  <body>
   
    {{{body}}}
  </body>
</html>



