    <main class = "Avengers-container">

      <div class = "AVENGERS">
        <a href="iron_man.html"><img id="temp" class="shallow" src="/img/ironman.jpg" style="width:300px;height:390px"></a>
        <a href="captain_america.html"><img id="temp" class="shallow" src="/img/captain_america.jpg" style="width:300px;height:390px"></a>
        <a href="hulk.html"><img id="temp" class="shallow" src="/img/hulk.jpg" style="width:300px;height:390px"></a>
        <a href="thor.html"><img id="temp" class="shallow" src="/img/Thor.jpg" style="width:300px;height:390px"></a>
        <a href="blackWidow.html"><img id="temp" class="shallow" src="/img/BlackWidow.jpg" style="width:300px;height:390px"></a>
        <a href="hawkeye.html"><img id="temp" class="shallow" src="/img/hawkeye.jpg" style="width:300px;height:390px"></a>
        <a href="Dr_strange.html"><img id="temp" class="shallow" src="/img/Dr_Strange.jpg" style="width:300px;height:390px"></a>
        <a href="Scarlet_witch.html"><img id="temp" class="shallow" src="/img/Scarlet_witch.jpg" style="width:300px;height:390px"></a>
        <a href="Vision.html"><img id="temp" class="shallow" src="/img/Vision.jpg" style="width:300px;height:390px"></a>
      </div>


    </main>