<div class = "top">
        <h1 class = "subtitle"><img class="avengers-logo" src="/img/Avenger_1.jpg" alt = "avenger-logo" style="float:left;width:175px;height:110px;"> Intro  to  Avengers</h1>
      </div>   
      

<main class = "Avengers-container"> 
         
      <div class = "AVENGERS">
        
        <a href="/iron_man"><img id="temp" class="shallow" src="/img/ironman.jpg" style="width:300px;height:390px"></a>
        <a href="/captain_america"><p hidden>capation_ammerica<p></p><img id="temp" class="shallow" src="/img/captain_america.jpg" style="width:300px;height:390px"></a>
        <a href="/hulk"><img id="temp" class="shallow" src="/img/hulk.jpg" style="width:300px;height:390px"></a>
        <a href="/thor"><img id="temp" class="shallow" src="/img/Thor.jpg" style="width:300px;height:390px"></a>
        <a href="/blackWidow"><img id="temp" class="shallow" src="/img/BlackWidow.jpg" style="width:300px;height:390px"></a>
        <a href="/hawkeye"><img id="temp" class="shallow" src="/img/hawkeye.jpg" style="width:300px;height:390px"></a>
        <a href="/Dr_strange"><img id="temp" class="shallow" src="/img/Dr_Strange.jpg" style="width:300px;height:390px"></a>
        <a href="/Scarlet_witch"><img id="temp" class="shallow" src="/img/Scarlet_witch.jpg" style="width:300px;height:390px"></a>
        <a href="/Vision"><img id="temp" class="shallow" src="/img/Vision.jpg" style="width:300px;height:390px"></a>
      </div>

    </main>
